@font-face {  
  font-family: coghead;  
  src: local("CaviarDreams"),  
  local("Caviar Dreams"), 
  local("Walkway"),  
  url(font/CaviarDreams.ttf);  
  font-weight: plain;  
}

h1, h2, h3, h4 {
    font-family: coghead;
    font-size: 48pt;
    margin: 0;
}

h2 {
  font-size: 30pt;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 24pt;
}

h4 {
  font-size: 18pt;
}

p {
    font-family: Helvetica, Arial, sans;
    margin: 0;
    font-size: 14px;
    line-height: 22px;
}

body {
    background-color: #AAA;
}

#surround {
    box-shadow: 0.2em 0.2em 0.2em #CCC;
    border: 1px solid #000;
    width: 798px;
    background-color: #fff;
    background-image: url("bkgnd.png");
    background-repeat: no-repeat;
    margin: 20px 0px 0px 40px;
}

#content {
    margin: 170px 58px 16px 149px;
}

#nav {
    float: left;
    display: none;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 16px;
    margin-bottom: 8px;
    padding: 0px;
}

#nav  ul {
    list-style-type: none;
    font-family: coghead;
    padding: 0px;
    margin: 0px;
}

.wizard.button {
   border: 1px solid black;
   background-color: #AAA;
   box-shadow: 0.2em 0.2em 0.2em #888;
   display:inline;
   padding: 3px;
   margin-left: 8px;
   margin-right: 8px;
}

.wizard.button.default {
   border: 2px solid #444444;
   border-radius: 4px 4px 4px 4px;
   background-color: #CCC;
}

#buttonbar {
    min-height: 25px;
    padding: 4px;
    text-align: center;
    font-family: coghead;
}

#buttonbar  a {
      text-decoration: none;
      color: #000;
}

#buttonbar a:hover  {
    background-color: #444;
    color: #FFF;
}

#buttonbar a:active {
    color: #888;
}

.component {
    background-repeat: no-repeat;
    border: 1px solid black;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px 8px 8px 48px;
    background-color: #f0f0e0;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #444444;
}

.component.selected {
    box-shadow: 0px 0px 0px #FFF;
    background-color: #ffffff;
}

.component.needed {
    background-color: #FFFFEE;
    box-shadow: 4px 4px 1px #444444;
}

.component:hover {
    background-color: #aaaaaa;
    box-shadow: 4px 4px 1px #444444;
}

.componentbox p {   
    margin: 0;
}

ul {
    font-family: Helvetica, Arial, sans;
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    list-style-image: url("listbullet.png")
}

ol {
    font-family: Helvetica, Arial, sans;
    margin: 0;
    font-size: 14px;
    line-height: 22px;

}
/* prevents rollover of needed components */
.component.needed:hover {
    background-color: #FFFFAA;
    box-shadow: 4px 4px 1px #444444;
}

img.check {
    position: absolute;
}

div.checkholder {
    position: relative;
    top: -88px;
    left: 460px;
}

.component em {
    font-weight: bold;
}

#debugbox {
     border: 8px dotted black;
     margin-top: 20px;
     padding: 12px;
     }
     
.configentrybox  {
     margin-top: 40px;
     margin-bottom: 20px;
}

#bundlebox {
    margin-bottom: 20px;
    margin-top: 20px;
}

#bundlebox li {
    font-size: 130%;
}
